<div class="container">
  <div class="row">
<div class="col-lg-3">
</div>

<div class="col-lg-6">
<h1 class="text-center">welcome to <i class="fa-solid fa-book"></i> Bookers !!</h1>

<br><br><br><br><br><br><br><br><br>
 <p class="text-center">CopyRight Infratop.inc</p>
 </div>
 <div class="col-lg-3">
 </div>
 </div>
 </div>